.headerTopBlock{
    display: flex;
    align-items: center;
}

.headerTop{
    padding: 17px 0px 17px 0px;
}

.headerLogo{
    width: 250px;
    height: 70px;
}

.logoImage{
    height: 100%;
    object-fit: scale-down;
}

.headerMain{
    flex:  1 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
}

.headerSearch{
    width: 70%;
}

.formBlock{
    display: flex;
    width: 100%;
    position: relative;
}

.formBlock input{
    display: block;
    height: 42px;
    flex: 1 1 auto;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-right: none;
    padding: 0 64px 0 25px;
    font-size: 16px;
    color: #333;
}

.formBlock button{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 42px;
    background-color: #434343;
}

.headerElements{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.headerElements span{
    position: absolute;
    min-width: 16px;
    height: 16px;
    padding: 0 3px;
    line-height: 16px;
    font-size: 12px;
    background: #3450A7;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.headerElements a{
    color: #434343;
}

.cart{
    position: relative;
}

.favourites{
    position: relative;
}

.iconStyle {
    color: #434343;
    font-size: 2rem !important;
}