.gridBlock{
    background-color: white;
    padding: 20px 15px;
    height: 500px;
    border: 1px solid rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.05s linear;
}

.gridBlock:hover{
    transform: scale(1.03);
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.15);
}

.imageBlock{
    height: 40%;
}

.imageBlock img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.generalFontStyle{
    font-size: 15px;
    margin-top: 8px;
    font-weight: bold;
    color: #898989;
}

.equipmentId{
    font-size: 13px;
    font-weight: 300;
}

.equipmentDescription{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}






.equipmentType {
}

.equipmentBrand{
    color: #A4C9FF;
}

.equipmentName{
    color: #3550aa;
}

.equipmentPrice{
    color: #d96857;
}

.cartAndFavorites{
    height: 10%;
    margin: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cartAndFavorites .cartBtn{
    font-size: 14px  !important;
    background-color: #d96857 !important;
}

.cartAndFavorites .cartBtn span{
    padding-right: 5px;
}

