
.blockText{
    font-family: 'Roboto Condensed', Arial, sans-serif;
    display: flex;
    width: 214.4px;
    background-color: #d96857;
    color: white;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
}